div.racer-headers,
div.racer-row {
    grid-template-columns: 5rem 3rem;
    grid-auto-columns: 1fr;
    grid-template-rows: max-content;
    row-gap: 0rem;
}

div.racer-row , 
div.racer-row > p {
    margin: 0 .25rem;
}

div.racer-headers {
    position: sticky;
    top: 2rem;
    background-color: white;
    box-shadow: 0px 2px 3px #333;
    width: calc(100% + 4rem);
    margin-left: -2rem;
    margin-top: -2.25rem;
    margin-bottom: 1rem;
    padding: 0.5rem 2rem;
}

.racer-headers h6,
.racer-row > input,
.racer-row > select,
.partners-block h6 {
    grid-row: 1;
    margin: .25rem;
    text-align: left;
    color: black;
}

.racer-row > input {
    width: 90%;
}

.racer-row > div > * {
    margin: .25rem;
}

.partners-block h6 {
    font-size: 1rem;
    margin-left: 0;
    text-align: left;
}

.partners-block p, .edit-partners-block p{
    font-size: .8rem;
}

div.partners-block {
    grid-row: 2;
    grid-column: 3/5;
    display: flex;
    flex-direction: column;
    margin: 0 .5rem;
}

div.edit-partners-block{
    grid-row: 2;
    grid-column: 3/5;
    display: grid;
    grid-auto-rows: 1fr;
}

div.partners-row {
    margin: 0;
    display: grid;
    grid-template: 1fr / 2fr;
}

.edit-partners-row {
    display: grid;
    grid-auto-rows: 1fr;
    grid-template-columns: 1fr 1fr 5rem;
    gap: 0px .5rem;
    align-items: center;
}

div.final-row{
    grid-row: 3;
    grid-column-start: 2;
}