.locations__container {
    display: grid;
    grid-auto-columns: 1fr;
    position: relative;
    margin: .5rem auto;
}


div.location-headers,
div.location-row,
div.edit-row {
    grid-template-columns: 5rem 2fr 4fr 1fr 1fr;
}

div.edit-row {
grid-template-columns: 1fr;
grid-template-rows:1fr 1fr;

}

.locations-headers {
    margin-bottom: 1rem;
}

.locations-headers h6 {
    border-bottom: 1px solid #333;
}

.locations-headers h6:nth-child(1) {
    border-bottom: 0px;
}

.locations-headers h6,
.location-row > p,
.location-row > input,
.row-icons {
    grid-row: 1;
    margin: .25rem;
    text-align: left;
    color: black;
}

.save-icon-row {
    display: flex;
    justify-content: flex-start;
}

p.latlng-col{
    font-size: 1rem;
}

.action-icon {
    cursor: pointer;
}

.location-row > div > * {
    margin: .25rem;
}

.button__row {
    margin: 1.5rem auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

