div.location-headers,
div.location-row,
div.edit-row {
    grid-template-columns: 5rem 2fr 4fr 1fr 1fr;
    grid-auto-rows: max-content;
}

div.edit-row {
grid-template-columns: 1fr;
}

.locations-headers {
    margin-bottom: 1rem;
}

.locations-headers h6 {
    border-bottom: 1px solid #333;
}

.locations-headers h6:nth-child(1) {
    border-bottom: 0px;
}

.locations-headers h6,
.location-row > p,
.location-row > input {
    grid-row: 1;
    margin: .25rem;
    text-align: left;
    align-self: center;
    color: black;
}

.second-row {
    grid-row: 2;
}

div.save-icon-row {
    grid-row:3;
    display: flex;
    justify-content: flex-start;
}

p.latlng-col{
    font-size: 1rem;
}

.location-row > div > * {
    margin: .25rem;
}

