div.sponsor-headers,
div.sponsor-row {
    grid-template-columns: 5rem 2fr 1.5fr 1fr 3fr 3fr;
}

.image-thumbnail {
    height: 8vh;
}

.edit-row select {
border: 1.6px solid rgb(118, 118, 118);
padding: 1.2px 2px;
}

.edit-row input[type="checkbox"]{
    flex-grow: 1;
    height: 17px;
    width: 17px;
    margin-left: 2rem;
}