/* .race-info-container{
    display: flex;
    flex-direction: column;
    padding: 20px;
} */

/* .title-txt{
    text-align: center;
    font-family: 'Roboto Serif', serif;
    font-weight: 600;
    font-size: larger;
   
} */
/* .year-txt{
    text-align: center;
    font-family: 'Roboto Serif', serif;
} */
/* .location-txt{
    text-align: center;
    font-family: 'Roboto Serif', serif;
} */

.race-desc-txt{
    text-align: center;
    font-family: 'Roboto Serif', serif;
}
.btn-cont{
    margin-left: 5px;
    margin-right: 5px;
}
/* .image-cont{
    text-align: center;
    box-shadow: 0 11px 10px 0 rgba(0,0,0,.5);
} */
/* .img-actual{
    width: 100vw;
    height: auto;
} */

/* .regNrace-btns{
    background: linear-gradient(45deg,#e1eaf4, #4d7288);
    color: white;
    padding: 10px;
    margin: 1vh auto;
    border: 2px solid rgb(118,118,118);
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: .8em;
    text-transform: uppercase;
    text-shadow: 1px 1px 5px #333;
    border-radius: 5px;
    width: 30em;
    height: 8vh;
    
} */
.btn-xtra-cont{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 10px;
}
.btn-xtras{
    background: linear-gradient(45deg,#e1eaf4, #4d7288);
      color: white;
      padding: 10px;
      margin: 5px auto;
      border: 2px solid rgb(118,118,118);
      font-family: 'Montserrat';
      font-weight: 700;
      font-size: .8em;
      text-transform: uppercase;
      text-shadow: 1px 1px 5px #333;
      border-radius: 5px;
      width: 30em;
      height: 8vh;
}


@media screen and (max-width: 700px){
    .btn-xtra-cont{
        display: grid;
        grid-template-columns: 1fr;
        padding: 10px;
}
    .regNrace-btns{
        width: 25em;
    }
    .btn-xtras{
        width: 25em;
    }
}
