.section-container {
    box-sizing: border-box;
    width: 100%;
    padding: .5rem;
}

.section-container:nth-child(odd) {
    background-color: #a5b7bf;
}

.heading-container {
    box-sizing: border-box;
    text-align: center;
    max-width: 100vw;
    padding: 0 2.5vw;
    margin: 2rem auto;
    font-family: 'Roboto', sans-serif;
}

.heading-container h2,
.section-heading {
    text-align: center;
    color: #333333;
    font-family: "Montserrat", Sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 2rem;
}

a.button {
    margin: .5rem auto;
    width: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(45deg, #e1eaf4, #4d7288);
    color: white;
    padding: 10px;
    border: 2px solid rgb(118, 118, 118);
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    text-shadow: 1px 1px 5px #333;
    border-radius: 5px;
}

a.button--large {
    height: 3rem;
    font-size: 1.25rem;
}


a.button--medium {
    height: 2rem;
    font-size: .75rem;
}

a.button--small {
    height: 1rem;
    font-size: .5rem;
}

span.button__subtext {
    display: block;
    font-size: .75rem;
    text-align: center;
}

.disabled {
    opacity: .5;
}

a.button img {
    height: 2rem;
    width: auto;
}

a.button:hover {
    text-shadow: 3px 3px 5px #333;
    border: 2px solid rgb(118, 118, 118);
}

.location-container {
    padding: .5rem .25rem;
    position: relative;
}

.location-container h6 {
    margin: 0 1rem 0 auto;
    font-weight: 700;
    text-transform: uppercase;
    font-family: "Montserrat";
}

.location-header {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
}

.location-details {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 2%;
    font-size: .85rem;
}

.location-buttons {
    display: flex;
    right: 0;
    position: absolute;
    justify-content: space-evenly;
}

.location-link {
    margin: .4rem .5rem;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: .7rem;
    text-transform: uppercase;
    text-shadow: 1px 1px 5px #333;
}