.section-container {
    box-sizing: border-box;
    width: 100%;
    padding: 1rem 1.5rem;
    margin-bottom: 2rem;
}

.section-container:nth-child(odd) {
    background-color: #a5b7bf;
}

.heading-container {
    box-sizing: border-box;
    text-align: center;
    max-width: 100vw;
    padding: 0 2.5vw;
    margin: 2rem auto;
    font-family: 'Roboto', sans-serif;
}

.heading-container h2,
.section-heading {
    text-align: center;
    color: #333333;
    font-family: "Montserrat", Sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 2rem;
}

.heading-container h2 {
    font-size: 3.25rem;
    text-shadow: 3px 2px #a5b7bf;
}

#map-section {
    display: flex;
    flex-direction: column;
}

.location-section {
    display: flex;
    flex-direction: column;
}

.location-container {
    padding: .5rem .25rem;
    position: relative;
}

.location-container h6 {
    font-weight: 700;
    text-transform: uppercase;
    font-family: "Montserrat";
}

.location-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.location-details {
    display: flex;
    align-items: center;
    padding: 0 2%;
    font-size: .85rem;
}

.location-buttons {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.location-link {
    margin: .4rem .5rem;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: .7rem;
    text-transform: uppercase;
    text-shadow: 1px 1px 5px #333;
}

@media screen and (min-width: 640px) {

    .location-section{
        width: 50%;
    }

    #map-section {
        flex-direction: row;
    }
    
}