.registration-form__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    margin: 1rem auto;
    background-color: rgba(217, 218, 223, .5);
    max-width: 95%;
    padding: 2rem;
}

.header-info{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
}

.header-info p {
    margin: 0;
}

.required-notice {
    font-size: .8rem;
    width: 100%;
    margin: 0;
}

.race-details {
    text-transform: uppercase;
    font-size: 1rem;
    margin: 0;
}

.registration-form__container form{
    width: 100%;
}

.registration-form__container select {
    border: 2px solid black;
    padding: 1px;
}

.registration-form__container hr {
    color: black;
    border: 1px solid black;
    margin: 2rem auto;
}

.add-partner__button {
    border: 0px;
    background-color: white;
    border: 2px solid black;
    border-radius: 5px;
    font-size: .9rem;
    font-weight: 700;
    text-transform: uppercase;
}