.kayak-container{
    display: flex;
    width: 15vw;
    justify-content: space-between;
    margin: 5px 120px; 
    border-radius: 10px;
    border: 2px solid #636363;
    
}
.kayak-sub{
   /* border: 2px solid red; */
   display: flex;
   font-family: 'Roboto Serif', serif;
   text-align: center;
   color: white;
   padding: 10px;
   text-transform: uppercase;
   text-shadow: 1px 1px 5px #333;
}

@media screen and (max-width: 700px) {
    .kayak-container{
        width: 80vw;
        height: 11vh;
    }
    .card-title{
       display: flex;
        align-items: center;
        text-align: center;
        padding: 15px;
        
    }
    .kayak-sub{
        width: 65vw;
    }
    
}