nav.navbar {
	font-family: Montserrat, sans-serif;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 14px;
	background-image: linear-gradient(110deg, #4e647b, #293b46);
	box-shadow: 2px 3px 10px 4px;
	margin-bottom: 20px;
	/* height: 70px; */
	/* height: auto; */
	padding: 2px 20px 4px 0 !important;
}

nav .navbar-toggler-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

nav .navbarSupportedContent {
	justify-content: flex-end;
}

nav .navbar-brand,
nav .navbar-brand-image {
	height: 66px;
	padding: 2px 20px;
}

nav .dropdown-menu {
	background-color: #364958;
	border: 0px;
	z-index: 999999;
}

nav .dropdown-item {
	color: #f5f5f5;
	line-height: 28px;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 14px;
	padding: 0.25rem 1.5rem;
}

nav .dropdown-toggle::after {
	display: none;
}

@media screen and (max-width: 991px) {

	nav .navbarSupportedContent {
		justify-content: flex-start;
	}

	nav.navbar {
		height: auto;
	}

	nav .navbar-brand {
		height: 50px;
		padding: 0;
		margin: 0;
	}

	nav .navbar-brand-image {
		height: 52px;
	}

	nav .navbar-toggler {
		border-color: rgba(255, 255, 255, 0);
		color: white;
	}

	nav .navbar-toggler:focus {
		box-shadow: none;
	}

	nav ul {
		width: 80%;
		margin: 0 20px;
	}

	nav hr {
		border-bottom: 2px solid white;
		width: 100%;
		margin: 0 auto;
		opacity: 1;
	}

	nav .dropdown-menu {
		background-color: transparent;
		border: 0px;
	}

	nav .nav-link,
	nav .dropdown-item {
		color: #f5f5f5;
		line-height: 28px;
		text-transform: uppercase;
		font-weight: 700;
		font-size: 14px;
	}

}

@media screen and (max-width: 640px) {
	nav .navbar-brand-image {
		height: 42px;
		top: 4px;
		right: 15px;
		position: absolute;
	}
}