.title-txt{
    text-align: center;
    font-family: 'Roboto Serif', serif;
   
}
.year-txt{
    text-align: center;
    font-family: 'Roboto Serif', serif;
}
.location-txt{
    text-align: center;
    font-family: 'Roboto Serif', serif;
}
.kaXqIW{
    margin-top: 25px;
    padding: 0px !important;
}
.race-desc-txt{
    text-align: center;
    font-family: 'Roboto Serif', serif;
}
.btn-cont{
    margin-left: 5px;
    margin-right: 5px;
}
.bTShbK {
    display: flex;
    flex-direction: column;
    height: 70vh !important;
    margin: auto !important;
    padding: 0px !important;
    justify-content: center;
    width: 100%;
    box-shadow: 0 11px 10px 0 rgba(0,0,0,.5);
}
.ktWkOj {
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    height: 140vh !important;
    width: 100% !important;
    margin: auto;
}
@media screen and (max-width: 700px){
    .bTShbK {
        display: flex;
        flex-direction: column;
        height: 30vh !important;
        margin: 0px -40px !important;
        padding: 0px;
        width: 90vw;
        
    }
    .ktWkOj {
        width: 100%;
        height: 150vh !important;
        margin: auto;
    }
    .fOxsao{
        width: 90% !important;
    }
}

@media screen and (max-width: 400px){
    .bTShbK {
        display: flex;
        flex-direction: column;
        height: 30vh !important;
        /* margin: 0px -5px   !important; */
        padding: 0px !important;
        width: 100vw;
        justify-content: center !important;
        margin: auto !important;
    }
    .ktWkOj {
        width: 100%;
        height: 150vh !important;
        margin: auto;
    }
}