.footer-main {
  height: 10vh !important;
  bottom: 0px !important;
  justify-content: center;
}
/* .logo-main{
    text-align: center;
    margin: auto !important;
    height: 10vh !important;
    padding: 3px;
} */

@media screen and (max-width: 700px) {
  .hQUcLr nav navbar-brand,
  .hQUcLr nav navbar-brand,
  .hQUcLr img {
    height: 8vh !important;
    width: 100%;
    padding: 0px !important;
    margin-bottom: -25px !important;
  }
  .footer-main {
    padding: 5vh 0vh 5vh 0px !important;
  }
}
