.react-photo-album--photo{
   border: 2px solid black;
   
}
.react-photo-album{
   justify-content: center !important;
   flex-flow: row wrap !important;
}
.overlay{
   position: absolute;
   right: 5px;
   bottom: 5px;
   background-color: #565566;
   font-family: 'Roboto Serif', serif;
   color: white;
   /* border: 1px solid black; */
   text-shadow: 1px 1px black;
}
#gallery-header{
   text-align: center;
   font-family: 'Roboto Serif', serif;
}

.dropdown{
   text-align: center !important;
   
}
#dropdown-basic{
      display: block;
      background: linear-gradient(45deg,#e1eaf4, #4d7288);
      color: white;
      padding: 10px;
      margin: 0 auto;
      border: 2px solid rgb(118,118,118);
      font-family: 'Montserrat';
      font-weight: 700;
      font-size: .8em;
      text-transform: uppercase;
      text-shadow: 1px 1px 5px #333;
      border-radius: 5px;
   
}

.dropdown-menu{
   background-color: #565566 !important;
   font-family: 'Roboto Serif', serif;
}

.dropdown-item{
   background-color:rgb(78, 100, 123) !important; 
   color: white !important;
}
/* LIGHT rgb(78, 100, 123) */
/* DARK  rgb(41, 59, 70)) */

@media screen and (min-width: 600px) {
   .overlay {
     font-size: 16px;
   }
 }
 
 @media screen and (max-width: 600px) {
   .overlay {
     font-size: 8px;
   }
 }