.react-photo-album--photo{
   border: 2px solid black;
   
}
.react-photo-album{
   justify-content: center !important;
   flex-flow: row wrap !important;
}
.overlay{
   position: absolute;
   right: 5px;
   bottom: 5px;
   background-color: #565566;
   font-family: 'Roboto Serif', serif;
   color: white;
   border: 1px solid black;
   text-shadow: 1px 1px black;
}
#gallery-header{
   text-align: center;
   font-family: 'Roboto Serif', serif;
}

.dropdown{
   text-align: center !important;
}
#dropdown-basic{
   background-color: #565566;
   border-radius: 5px;
   color: white;
   margin: auto;
   font-family: 'Roboto Serif', serif;
}

.dropdown-menu{
   background-color: #565566 !important;
   font-family: 'Roboto Serif', serif;
}

.dropdown-item{
   background-color:rgb(78, 100, 123) !important; 
   color: white !important;
}
/* LIGHT rgb(78, 100, 123) */
/* DARK  rgb(41, 59, 70)) */

@media screen and (min-width: 600px) {
   .overlay {
     font-size: 16px;
   }
 }
 
 @media screen and (max-width: 600px) {
   .overlay {
     font-size: 8px;
   }
 }