body,
p {
    margin: 0;
}

a {
    text-decoration: none !important;
}

.mobile-show {
    display: none;
}

hr {
    margin: 0 auto;
    color: black;
    opacity: .5;
}

p {
    font-family: Roboto, sans-serif;
    font-size: 16px;
    line-height: 27px;
    letter-spacing: 0px;
    font-weight: 400;
    font-style: normal;
    text-transform: none;
    color: #636363;
}

@media screen and (max-width: 640px) {

    .mobile-hide {
        display: none;
    }

    .mobile-show {
        display: block;
    }
}